.header {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    position: fixed;
    right: 40px;
    z-index: 999;
  }

.activePath {
    border-bottom: 2px solid $white;
  }
  
  #sidebarMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    position: fixed;
    right: 0;
    width: 220px;
    transform: translateX(220px);
    transition: transform 250ms ease-in-out;
    background-color: $dark-red;
}
.sidebarMenuInner{
    margin:0;
    margin-top: 60px;
    padding:0;
}
.sidebarMenuInner li{
    list-style: none;
    color: $white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    text-align: left;
    font-family: $font-type;
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
    font-family: $font-type;
}
.sidebarMenuInner li a{
    color: $white;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    font-family: $font-type;
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 40px;
    height: 30px;
    width: 30px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: $white;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 4px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 4px;
}

input[type="checkbox"]:checked ~ #sidebarMenu {
  transform: translateX(0px);
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    background-color: $white;
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
  }
  input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  background-color: $white;
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  background-color: $white;
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}

.headerSocials {
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
  color: white;
  height: 30px;
}