.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.text-wrapper {
  flex: 0.6;
}

@media (max-width: 800px) {
  .main {
    padding: 2rem;
    justify-content: flex-start;
  }
}