.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.main:before {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  border-top: 150px solid $dark-red;
  border-left: 150px solid transparent;
  width: 0;
  z-index: 99;
}

.text-wrapper {
  flex: 0.6;
}

@media (max-width: 800px) {
  .main {
    padding: 2rem;
    justify-content: flex-start;
  }
}