.line {
    position: fixed;
    z-index: 99999;
}

.top {
    left: 0;
    top: 0;
    width: 100%;
    height: 15px;
    background: linear-gradient(90deg, $light-red 15px, $base-red 10%, $dark-red 45%);
}

.bottom {
    left: 0;
    top: auto;
    bottom: 0;
    width: 100%;
    height: 15px;
    background: linear-gradient(90deg, $light-red 15px, $base-red 10%, $dark-red 45%);
}

.left {
    left: 0;
    top: 0;
    width: 15px;
    height: 200%;
    background-color: $light-red;
}

.right {
    left: auto;
    right: 0;
    top: 0;
    width: 15px;
    height: 200%;
    background-color: $dark-red;
}

@media (max-width: 800px) {
    .left, .right {
        width: 10px;
    }

    .top, .bottom {
        height: 10px;
    }
  }