.square {
  height: 160px;
  width: 160px;
  margin: 15px;
  box-shadow: var(--shadow-md);
  transition: all 0.2s;
  cursor: pointer;
  border-radius: 2px;

}

.square-box {
  border: 2px solid $base-red;
  background-color: #fff;
}

.square-box:hover {
  background-color: $base-red;
  color: #fff;
}


.square:hover {
  transform: translateY(-3px) !important;
}

.box-content {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media (max-width: 800px) {
  .square {
    height: 100px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
  }
}