.cp-transition-container {
  height: 100%;
  width: 100%;
}
@media (max-width: 768px) {
  .cp-transition-container {
    min-height: 250px;
 }
}
.cp-transition-container > div {
  height: 100%;
}

.cp-transition-squares-wrapper {
  height: 100%;
  max-width: 840px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.cp-transition .card {
  color: white;
}
.cp-transition .card-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  gap: 20px;
  z-index: 9999;
  background: linear-gradient(90deg, $light-red 15px, $base-red 10%, $dark-red 45%);
}

