.aboutContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 400px;
}

.textWrapper {
    flex: 0.6;
}

.textBlock {
    max-width: 810px;
    margin-left: 15px;
    margin-right: 15px;
}

@media (max-width: 800px) {
    .aboutContainer {
        flex-direction: column;
        margin-top: 40px;
    }

    .textBlock {
        margin-left: 0;
        margin-right: 0;
    }
  }