.cardHeader {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.cardHeader h2 {
  font-size: 3.2rem;
  font-weight: 700;
  font-family: $font-type;
}
.cardHeader button {
  color: white;
  border: none;
  background: transparent;
  cursor: pointer;
}
.cardHeader button:focus {
  outline: none;
}
.cardContent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.cardImgPlaceholder {
  object-fit: contain;
  width: 100%;
}

.projectInformation {
  flex: 0.5;
  text-align: justify;
  line-height: 125%;
  font-size: 1.6rem;
}

.projectTextParagraph {
  text-align: justify;
}

.technologiesContainer {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  margin-bottom: 10px;

  span {
    font-family: $font-type;
    font-size: 14px;
    font-weight: 500;
    background-color: #fff;
    color: $base-red;
    padding: 0 5px;
    border: 2px solid $base-red;
  }
}

.cardTextPlaceholder {
  max-width: 770px;
  margin: 0 auto;

  p {
    height: auto;
  }

  p:last-of-type {
    padding-bottom: 3em;
  }

  h2 {
    font-size: 40px;
    font-family: $font-type;
    margin-bottom: 10px;
  }
  
  h4 {
    font-family: $font-type;
    font-size: 16px;
    font-weight: 600;
  }

  .textBottomSpace {
    height: 100px;
  }
}

.imageContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex: 0.5;
}

@media (max-width: 800px) {
  .cardContent {
    display: block;
    
    .imageContainer {
      margin-bottom: 10px;
    }

    h2 {
      font-size: 40px;
      margin-bottom: 15px;
      width: 100%;
    }
  }
  
}

@media  (max-height: 900px)  {
  .projectInformation {
    height: 600px;
   }
}

@media (max-height: 820px ) and (min-width: 1024px) {
  .projectInformation {
    height: 500px;
  }
}
