.cpTransitionContainer {
  height: 100%;
  width: 100%;
}

.cpTransitionContainer > div {
  height: 100%;
}

.cpTransitionSquaresWrapper {
  height: 100%;
  max-width: 840px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 900px) {
  .cpTransitionSquaresWrapper {
    flex-direction: column;
  }
}