.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.subtitle {
  margin-top: 10px;
  text-align: center;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
    height: 50vh;

  }
}