.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.subtitle {
  text-align: center;
}

@media (max-width: 800px) {
  .container {
    img {
      display: none;
    }
  }
}