.animatedText {
    position: relative;
    top: 50%;  
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 60px;
    color: $base-red;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.typewriterAnimation {
  animation: blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes blinkTextCursor{
  from{border-right-color: $base-red;}
  to{border-right-color: transparent;}
}

@media (max-width: 800px) {
  .animatedText {
    font-size: 40px;
  }
}