.text-block {
    max-width: 730px;
    margin-left: 15px;
}

.about-text-paragraph {
    text-align: justify;
    margin-bottom: 10px;
}


@media (max-width: 800px) {
    .text-block {
        margin-left: 0;
    }
}