.certifications-subtitle {
    font-size: 20px;
    font-family: $font-type;
    color: $base-red;
    margin-left: 15px;
}


.certifications-text-paragraph {
    text-align: justify;
    margin-bottom: 10px;
}


@media (max-width: 800px) {
    .certifications-subtitle {
        margin-left: 0;
    }
}