.projects-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 400px;
}

@media (max-width: 800px) {
    .projects-container {
        flex-direction: column;
        margin-top: 40px;
    }
  }