h2.certificationsSubtitle {
    font-size: 20px;
    color: $base-red;    
    margin-left: 15px;
}


.certificationsTextParagraph {
    text-align: justify;
}


@media (max-width: 800px) {
    h2.certificationsSubtitle {
        margin-left: 0;
        margin-top: 10px;
    }
}