.animated-text {
    position: relative;
    top: 50%;  
    width: 9em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 60px;
    color: $base-red;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
    font-family: $font-type;
}

/* Animation */
.typewriter-animation {
  animation: blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes blinkTextCursor{
  from{border-right-color: $base-red;}
  to{border-right-color: transparent;}
}

@media (max-width: 800px) {
  .animated-text {
    font-size: 36px;
  }
}