.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  padding-bottom: 10rem;
}

.main:before {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  border-top: 150px solid $dark-red;
  border-left: 150px solid transparent;
  width: 0;
  z-index: 99;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;


  .text-wrapper {
      flex: 0.5;
  }
}


@media (max-width: 1400px) {
  .container {
    flex-direction: column;
  }
}

@media (max-width: 800px) {

  .container {
    margin-top: 40px;
  }

  .main {
    padding: 2rem;
    padding-bottom: 10rem;
    justify-content: flex-start;
  }
}