.main-title {
    font-size: 60px;
    color: $base-red;
    flex: 0.5;
    text-align: center;
    font-family: $font-type;
}

@media (max-width: 1400px) {
    .main-title {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .main-title {
        text-align: left;
        font-size: 40px;
    }
  }