// Google Fonts
@import url(https://fonts.googleapis.com/css2?family=DM+Sans:wght@200;400;700&display=swap);

// Font Variables
$font-type: 'DM Sans', sans-serif;

p {
  font-family: $font-type;
  font-size: 18px;
}

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }
  
  body {
    position: relative;
    margin: 0;
    overflow: hidden;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }

  $light-red:   #e91b0c;
  $base-red: #b91003;
  $dark-red: #940303;
  
  @import '../styles/components/layout.scss';
  @import '../styles/components/animated-title.scss';
  @import '../styles/components/footer.scss';
  @import '../styles/components/header.scss';
  @import '../styles/components/line.scss';
  @import '../styles/components/project-card.scss';
  @import '../styles/components/project-details.scss';
  @import '../styles/components/project-grid.scss';
  @import '../styles/components/social-buttons.scss';
  @import '../styles/components/title.scss';
  @import '../styles/components/transition-effect.scss';
  @import '../styles/components/language-selector.scss';

  @import '../styles/pages/about.scss';
  @import '../styles/pages/contact';
  @import '../styles/pages/home.scss';
  @import '../styles/pages/projects.scss';