.formWrapper {
    font-family: $font-type;
}

.social {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.formWrapper .social {
    max-width: 730px;
    margin-left: 15px;
}

@media (max-width: 800px) {
    .formWrapper { 
        margin-top: 15px;
        width: 100%;
    }

   .formWrapper .social {
        margin-left: 0;
        margin-right: 0;

        align-items: flex-end;
        p {
            text-align: end;
        }
    }
}